/*
Highstock Graph Formatting
*/

.CHARTDIV {
    width: 86%;
    margin: 3% auto 3% auto;
    border: 3px solid #dddddd;
}

#CoinDetailPage div.CHARTDIV:not(.hideChart):first-of-type {
    margin-top: 1.5%;
}

.hideChart {
    display: none;
}